html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
h1{
  color: #0F3376;
  padding:2vh;
  padding-top: 5px;
}
h2 {
  padding: 0vh;
}
p{
  font-size: 1.5rem;
}
.button {
  display: inline-block;
  background-color: #008CBA;
  color: white;
  padding: 1px 40px;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}
.button2 {
  background-color: #f44336;
}
.button3 {
  background-color: #FFA500;
}
.button4 {
  display: inline-table;
  background-color: #0BA500;
	color: white;
	padding: 1px 20px;
	font-size: 10px;
	margin: 0px;
}
